<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Candidate List</h4>
                    <p class="card-category"> List of candidates and their stats!</p>
                </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Country
                                  </th>
                                  <th>
                                      City
                                  </th>
                                  <th>
                                      Salary
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let candidate of candidates">
                                      <td>
                                          {{candidate.name}}
                                      </td>
                                      <td>
                                            {{candidate.age}}
                                      </td>
                                      <td>
                                            {{candidate.offeredSalary}}
                                      </td>
                                      <td>
                                           {{candidate.predictedSalary}}
                                      </td>
                                      <td class="text-primary">
                                          {{candidate.joiningPrediction}}
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
          </div>
      </div>
  </div>
</div>
