<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Candidate List</h4>
                    <p class="card-category"> List of candidates and their stats!</p>
                </div>
                   <div class="card-body">
                      <div class="table-responsive">
                           <table class="table" matSort (matSortChange)="sortData($event)">
                              <tr class=" text-primary">
                                  
                                  <th>
                                      Job ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Profile Matching (%)
                                  </th>
                                  <th>
                                      Joining Probability
                                  </th>
                                  <th>
                                      Candidate Expected Hike
                                  </th>
                                  <th>
                                    Salary Hike (%)
                                </th>





                              </tr>
                              <tbody>
                                  <tr *ngFor="let candidate of candidateService.candidates; let i = index">

                                      <td>
                                          {{candidate.jobId}}
                                      </td>
                                      <td>
                                          {{candidate.name}}
                                      </td>
                                      <td>
                                          {{candidate.ProfileMatching || 0}}
                                      </td>
                                      <td>
                                          {{candidate.Joining}}
                                      </td>

                                      <td>
                                          {{candidate.ExpectedHike}}
                                      </td>

                                      <td (click)="editValue(i)">
                                          <span *ngIf="candidate.isEditClicked">
                                                <input #myval type="text" (blur)="submitNewValue(i,myval.value)"/>
                                          </span>
                                          <span *ngIf="!candidate.isEditClicked">
                                            {{candidate.PercentSalaryHike}}
                                          </span>
                                      </td>


                                  </tr>
                                  
                              </tbody>
                          </table>
                         
                      </div>
                  </div> 
              </div>
          </div>

           <div class="col-md-12">  
                      
          </div> 
      </div>
  </div>
</div>
