<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-10">
              <div class="card">
                
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Add Profile</h4>
                      <p class="card-category">Please insert correct details</p>
                  </div>
                  <div class="card-body">
                      <form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                          
                          <div class="row">
                              <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="Name" placeholder="Full Name">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <mat-label>Department</mat-label>
                                    <select matNativeControl formControlName="Department">
                                        <option value="IB-Tech">IB-TECH</option>
                                        <option value="WMA">WMA</option>
                                        <option value="Operations">Operations</option>
                                      </select>

                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Gender</mat-label>
                                    <select matNativeControl formControlName="Gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                      </select>
                                </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Age</mat-label>
                                  <input matInput formControlName="Age" placeholder="Age in years" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                  <input matInput formControlName="DistanceFromHome" placeholder="Distance From Home (in KM)" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Marital Status</mat-label>
                                      <select matNativeControl formControlName="MaritalStatus">
                                          <option value="single">Single</option>
                                          <option value="married">Married</option>
                                          <option value="Divorsed">Divorsed</option>
                                        </select>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <mat-label>Job ID</mat-label>
                                    <select matNativeControl formControlName="jobId">
                                        <option value="43552435">43552435</option>
                                        
                                    </select>
                                    </mat-form-field>
                                </div>
    
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Percentage Hike Offered</mat-label>
                                    <input matInput formControlName="PercentSalaryHike" placeholder="Percentage Hike Offered" type="text">
                                  </mat-form-field>
                               </div>
                               <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput formControlName="CurrentSalary" placeholder="Current Salary" type="text">
                                  </mat-form-field>
                               </div>
                          </div>
                        
                          <div class="row">                            
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-label>Job Level</mat-label>
                                <select matNativeControl formControlName="JobLevel">
                                    <option value="EE">EE</option>
                                     <option value="AO">AO</option>
                                      <option value="AD">AD</option>
                                      <option value="DI">DI</option>
                                      <option value="ED">ED</option>
                                </select>
                                </mat-form-field>
                             </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                      <mat-label>Total Experience</mat-label>
                                    <input matInput formControlName="TotalWorkingYears" placeholdeer="Total Years Of Experience (in years)" type="text">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Expected Hike</mat-label>
                                  <input matInput formControlName="ExpectedSalary" placeholder="Expected Hike (in %)" type="text">
                                </mat-form-field>
                            </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Skill Sets</mat-label>
                                      <input matInput formControlName="skillSets" placeholder="Comma Separated" type="text">
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Number Of Companies</mat-label>
                                        <input matInput formControlName="NumCompaniesWorked" placeholder="Number Of Companies Worked so far" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                           <button mat-raised-button type="submit" class="btn btn-danger pull-right">Add Profile</button>
                           <div class="clearfix"></div>
                        <b>     <span>{{ alertMessage }}</span></b> 
                      </form>
                 </div>
               </div>
           </div>
        </div>
  </div>
</div>

<!-- 
<div class="row">
    <div class="col-md-3">
        
      </div>
      
</div>

<div class="row">
    <div class="col-md-9">
        <mat-form-field class="example-full-width">
            <mat-label>Skill Sets</mat-label>
          <textarea matInput formControlName="skillSets" placeholder="Comma Separated Skills" type="text">
        </mat-form-field>
      </div>
</div> -->